<form action="/update/<%= @id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="memo_title">
    <input type="text" name="title" id="title" value="<%= @memo[:title] %>" required>
  </div>
  <br>
  <div class="memo_content">
    <textarea name="content" id="content" required><%= @memo[:content] %></textarea>
  </div>
  <br>
  <div class="update_button">
    <input type="submit" value="更新">
  </div>
</form>
