<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css" type="text/css" media="all">
  <title><%= @title %></title>
</head>
<body>
  <header>
    <div class="header-row">
      <a>メモアプリ</a>
      <% if @title == "top" %>
        <div>
          <form action="/new-memo" method="get">
            <input type="submit" value="追加">
          </form>
        </div>
      <% end %>
    </div>
  </header>
  <%= yield %>
</body>
</html>
