<div class="memo_display">
  <p value="title"><%= @memo_title %></p>
  <p value="content"><%= @memo_content %></p>
</div>
<div class="memo_processing">
  <form action="/edit-memo/<%= @id %>" method="get">
    <input type="submit" value="変更">
  </form>
  <form action="/delete-memo/<%= @id %>" method="post" style="display:inline;">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">削除</button>
  </form>
</div>
