<div class="memo_display">
  <p><%= @memo[:title] %></p>
  <p><%= @memo[:content] %></p>
</div>
<div class="memo_processing">
  <div class="edit_button">
    <form action="/edit-memo/<%= @id %>" method="get">
      <input type="submit" value="変更">
    </form>
  </div>
  <div class="delete_button">
    <form action="/delete-memo/<%= @id %>" method="post" style="display:inline;">
      <input type="hidden" name="_method" value="delete">
      <button type="submit">削除</button>
    </form>
  </div>
</div>
