<div>
  <button><a href='new-memo'>追加</a></button>
  <ul>
  <% @memos.each_with_index do |memo, idx| %>
      <li>
        <a href="/edit-memo/<%= idx %>"><%= memo[:title] %></a>
      </li>
    <% end %>
  </ul>
</div>
